[submodule "src/module/quadrotor_msgs"]
	path = src/module/quadrotor_msgs
	url = https://github.com/HuaYuXiao/quadrotor_msgs.git
[submodule "src/module/easondrone_msgs"]
	path = src/module/easondrone_msgs
	url = https://github.com/HuaYuXiao/easondrone_msgs.git
[submodule "src/module/pose_utils"]
	path = src/module/pose_utils
	url = https://gitee.com/hyx020222/pose_utils.git
[submodule "src/module/odom_visualization"]
	path = src/module/odom_visualization
	url = https://gitee.com/hyx020222/odom_visualization.git
[submodule "src/simulate/easondrone_gazebo"]
	path = src/simulate/easondrone_gazebo
	url = https://github.com/HuaYuXiao/easondrone_gazebo.git
[submodule "src/lidar/livox_laser_simulation"]
	path = src/lidar/livox_laser_simulation
	url = https://github.com/HuaYuXiao/livox_laser_simulation.git
[submodule "src/module/px4ctrl"]
	path = src/module/px4ctrl
	url = https://github.com/HuaYuXiao/px4ctrl.git
[submodule "src/reconstruct/easondrone_mapping"]
	path = src/reconstruct/easondrone_mapping
	url = https://github.com/HuaYuXiao/easondrone_mapping.git
[submodule "3rdparty/ceres-solver"]
	path = 3rdparty/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver.git
	branch = 2.1.0
[submodule "src/slam/slambook2"]
	path = src/slam/slambook2
	url = https://github.com/gaoxiang12/slambook2.git
[submodule "src/lidar/livox_ros_driver"]
	path = src/lidar/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
[submodule "src/slam/FAST_LIO"]
	path = src/slam/FAST_LIO
	url = https://github.com/HuaYuXiao/FAST_LIO.git
[submodule "src/vision/camera_models"]
	path = src/vision/camera_models
	url = https://github.com/HuaYuXiao/camera_models.git
[submodule "src/slam/loop_fusion"]
	path = src/slam/loop_fusion
	url = https://gitee.com/hyx020222/loop_fusion.git
[submodule "src/slam/global_fusion"]
	path = src/slam/global_fusion
	url = https://gitee.com/hyx020222/global_fusion.git
[submodule "src/reconstruct/plan_env"]
	path = src/reconstruct/plan_env
	url = https://gitee.com/hyx020222/plan_env.git
[submodule "src/plan/waypoint_generator"]
	path = src/plan/waypoint_generator
	url = https://gitee.com/hyx020222/waypoint_generator.git
[submodule "src/plan/path_searching"]
	path = src/plan/path_searching
	url = https://gitee.com/hyx020222/path_searching.git
[submodule "src/plan/bspline_opt"]
	path = src/plan/bspline_opt
	url = https://gitee.com/hyx020222/bspline_opt.git
[submodule "src/plan/traj_utils"]
	path = src/plan/traj_utils
	url = https://gitee.com/hyx020222/traj_utils.git
[submodule "src/plan/ego-planner"]
	path = src/plan/ego-planner
	url = https://github.com/HuaYuXiao/ego-planner.git
[submodule "src/plan/apf_local_planner"]
	path = src/plan/apf_local_planner
	url = https://github.com/HuaYuXiao/apf_local_planner.git
[submodule "src/slam/VINS-Fusion"]
	path = src/slam/VINS-Fusion
	url = https://github.com/HuaYuXiao/VINS-Fusion.git
[submodule "src/lidar/livox_ros_driver2"]
	path = src/lidar/livox_ros_driver2
	url = https://github.com/HuaYuXiao/livox_ros_driver2.git
