[submodule "src/module/quadrotor_msgs"]
	path = src/module/quadrotor_msgs
	url = https://github.com/HuaYuXiao/quadrotor_msgs.git
[submodule "src/module/easondrone_msgs"]
	path = src/module/easondrone_msgs
	url = https://github.com/HuaYuXiao/easondrone_msgs.git
